<!-- views/head.ejs -->

<meta charset="UTF-8">
<title>Momentum Voter ID</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/momentum.css">
