extends index

block content
    h1 Voter ID Momentum

    h2 Introduction
    p A Work in progress! This is a framework for a single Voter Identification database with availability tools:

    ul
      li A generalised query interface -&nbsp;
          a(href='/report') Report here!
      li Machine accessible data input -&nbsp;
          a(href='/import') Import here!
      li The input method needs to update or add depending on whether we know the person or not
      li A framework for value added processes like classifiers to get at the database
      li Tools to add columns

