<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
</head>
<body>

<header>
    <% include header %>
</header>

<h1>Momentum Voter ID</h1>
<h2>Introduction</h2>
<p>A Work in progress! This is a framework for a single Voter Identification database with the following tools:</p>
<ul>
    <li>A generalised query interface - <a href="/report">here</a></li>
    <li>A CSV data import - <a href="/import">here</a></li>
    <li>TODO: The input method needs to update or add depending on whether we know the person or not</li>
    <li>TODO: A framework for value added processes like classifiers to get at the database</li>
    <li>TODO: Tools to add columns</li>
</ul>

</body>
</html>