doctype html
html(lang="en")
  head
    title Momentum Voter Id | #{title || 'Home'}
    style
      include ../assets/momentum.css
    link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
    link(href='momentum.css', rel='stylesheet')
  body
    #container.col
      block content