<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include head %>
</head>
<body>

<h2>Login</h2>
<form method="post" action="/login">
    <div>
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>

</body>
</html>